My.json
{
  "name": "My",
  "nodes": [
    {
      "parameters": {},
      "id": "bd1125bd-ae69-4730-93e2-735c54393803",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -860,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://xmlcalendar.ru/data/ru/2022/calendar.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c0e402d1-b36c-4f65-9655-394e952af94a",
      "name": "HTTP Request JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -620,
        100
      ]
    },
    {
      "parameters": {
        "url": "http://xmlcalendar.ru/data/ru/2022/calendar.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "80707fa7-a3b8-4701-9126-700195c4ab89",
      "name": "HTTP Request CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -680,
        360
      ]
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "id": "2d198764-5284-41a8-b66f-97ad8cbb646e",
      "name": "Extract From File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -520,
        360
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "match",
              "stringValue": "={{JSON.stringify($json[\"HTTP Request JSON\"][0]) === JSON.stringify($json[\"Extract From File\"][0]) ?  \"true\" : \"false\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9162d60b-9322-4819-a0e1-c206134da80a",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -320,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a40280ae-4eb6-493f-8d68-1827d66eb2a7",
              "leftValue": "={{ $json.match }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b516bec9-5fd3-4e6f-b276-68f6ff55a1ec",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -100,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request CSV": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request JSON": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d297301-98a8-4b66-a0d8-e09fd3b89cd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d79c5df791fa66a0d21d652aa7ddc105a34249ddb55c7571d3ddc743fd3b06e"
  },
  "id": "ZDjBLNHwTMztrv64",
  "tags": []
}